header {
    z-index: 2;
}

#home-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: calc(100vh - 56px);
}

/* Courses Section */
#home-courses {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: calc(100vh - 97px);
    border-right: 1px solid var(--highlight);
    margin-top: 25px;
    margin-left: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#home-courses-title {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1;
    background-color: var(--background1);
    box-shadow: 0px 15px 15px 0px var(--background1);
}
#home-courses-title h3 {
    padding-left: 5px;
    font-size: 24px;
    font-weight: 600;
}
#view-all-courses {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary1);
    margin-right: 20px;
    border-top: 3px solid transparent;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;
}
#view-all-courses:hover {
    border-bottom: 1px solid var(--primary1);
}
#home-courses > :nth-child(2) {
    margin-top: 15px;
}
.home-course-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0px;
    border-radius: 12px 0px 0px 12px;
    border: 1px solid transparent;
    transition: padding-left 0.2s, transform 0.2s, color 0.2s, background-color 0.2s, border 0.2s;
}
.home-course-list-item:hover {
    color: var(--primary1);
    background-color: var(--shadow);
    padding-left: 10px;
    border: 1px solid var(--highlight);
    transform: translateX(10px);
    cursor: pointer;
}
.home-course-list-item i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font1);
    width: 80px;
    font-size: 60px;
    opacity: 20%;
    transition: color 0.2s;
}
.home-course-list-item:hover i {
    color: var(--primary1);
}
.home-course-info {
    padding: 5px;
}
.home-course-list-item .home-course-name {
    font-size: 18px;
    margin-bottom: 5px;
}
.home-course-list-item .home-course-level {
    font-size: 14px;
}
/* Courses Section - Scroll Bar */
#home-courses::-webkit-scrollbar {
    width: 3px;
}
#home-courses::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
    height: 30px;
}
#home-courses:hover::-webkit-scrollbar-thumb {
    background-color: var(--highlight);
}

/* Posts Section */
#home-posts {
    text-align: center;
    width: 40%;
    margin-top: 25px;
}

/* Tutors Section */
#home-tutors {
    text-align: center;
    width: 260px;
    border-left: 1px solid var(--highlight);
    margin-top: 25px;
}