/* FONTS */
@font-face {
    font-family: inter;
    src: url('fonts/Inter-Var.ttf') format('truetype');
    font-weight: 100 900;
}

/* COLORS */
:root {
    --primary1A: #07f;
    --primary1B: #06c;

    --gradient1: #ffca9a;
    --gradient2: #ff88bb;
    --gradient3: #b777ff;

    --bg0: #0a0a0a;
    --bg1: #1a1a1a;
    --bg2: #2a2a2a;
    --bg3: #3a3a3a;
    --bg4: #4a4a4a;
    --bg5: #5a5a5a;
    --ft1: #eee;
}

.light-theme {
    --bg0: #fafafa;
    --bg1: #eaeaea;
    --bg2: #dadada;
    --bg3: #cacaca;
    --bg4: #bababa;
    --bg5: #aaaaaa;
    --ft1: #222;
}

/* NORMALIZE */
* {
    /* font */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: var(--ft1);
    -webkit-font-smoothing: antialiased;

    /* sizing */
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* mouse */
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    user-select: none;
    -webkit-user-select: none; /* For older versions of Safari */
    -moz-user-select: none; /* For older versions of Firefox */
    -ms-user-select: none; /* For Internet Explorer */

    scrollbar-color: transparent transparent;
}
::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    background-color: transparent;
    width: 0;
}

html, body {
    overflow-x: hidden;
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bg0);
    transition: background-color 0.3s, border 0.3s;
}
a, li {
    all: unset;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    padding: 0px 40px;
    background-color: var(--bg0);
    border-bottom: 1px solid var(--bg2);
    transition: 0.3s;
}

#header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#logo {
    height: 48px;
}

#header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
}

#gender, #region {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    height: 42px;
    padding: 0px 16px;
    background-color: var(--bg2);
    border: 1px solid var(--bg3);
    border-radius: 13px;
    transition: background-color 0.2s, border 0.2s;
    cursor: pointer;
}

#gender:hover, #region:hover {
    background-color: var(--bg1);
    transition: background-color 0.15s, border 0s;
}

#gender:active, #region:active {
    background-color: var(--bg1);
    border: 1px solid var(--bg5);
}

#gender-icon {
    width: 24px;
}

#region-icon {
    width: 20px;
}

#theme-switch {
    font-size: 22px;
    padding: 12px;
    margin: -12px;
    cursor: pointer;
}

/* MAIN */
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: calc(100% - 70px);
    width: calc(100% - 40px);
}

#main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: fit-content;
}

video {
    border-radius: 22px;
    height: calc(50% - 25px); /* they each take up half the main-left - 1/2 the gap plus 10px space above and below */

}

#main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--bg1);
    height: calc(100% - 40px);
    width: 100%;
    max-width: 640px;
    border-radius: 22px;
    border: 1px solid var(--bg2);
    transition: background-color 0.3s, border 0.3s;
}

#message-input-container {
    position: relative; /* Add relative positioning */
    display: flex;
    flex-direction: column; /* Ensure flex items stack vertically */
    width: calc(100% - 40px);
    margin-bottom: 20px;
}

#message-input {
    font-size: 1.2rem;
    font-weight: 200;
    resize: none;
    width: 100%;
    max-height: 200px;
    padding: 16px 68px 16px 16px; /* Adjust padding to accommodate send button */
    margin-top: 20px;
    background-color: var(--bg2);
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    overflow-x: hidden;
    transition: height 0.2s, background-color 0.3s, border 0.3s;; /* Add transition for smooth height change */
}

#message-input:focus {
    outline: var(--bg3) solid 1px;
}

#send-button {
    position: absolute; /* Position the send button absolutely */
    bottom: -25px; /* Center vertically */
    right: 10px; /* Adjust the distance from the right side */
    transform: translateY(-50%); /* Adjust vertical alignment */
    height: 52px;
    padding: 6px;
    cursor: pointer;
    transition: right 0.1s;
}

#send-button:hover {
    right: 8px;
}

#send-button:active {
    right: 4px;
}

#message-feed-container {
    width: calc(100% + 25px); /* add the scroll bar width to normalize the size */
    overflow-y: scroll;
}

.message {
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    width: fit-content;
    max-width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 20px 20px 20px auto;
    padding: 10px 15px;
    background-color: var(--primary1A); /* Blue background color */
    color: white; /* Text color */
    border-radius: 20px 20px 0px 20px;
}
.safari #message-feed-container {
    width: calc(100% - 10px); /* add the scroll bar width to normalize the size */
    overflow-y: scroll;
}