@font-face {
    font-family: 'Cakecafe';
    src: url('fonts/Cakecafe.otf') format('opentype');
}

/* COLORS */
:root {
    --primary: #44ccff;
    --warningOrange: #ff553e;
    --outgoingMessage: rgb(0, 165, 220);

    --bg0: #0a0d10;
    --bg1: #1a1d20;
    --bg2: #2a2d30;
    --bg3: #3a3d40;
    --bg4: #4a4d50;
    --bg5: #5a5d60;

    --ftBase: #eee;
    --ftBlue: #eee;

    --shadow: #00000066;
}

.light-theme {
    --primary: #11aadd;

    --bg0: #f9fcff;
    --bg1: #e9ecef;
    --bg2: #d9dcdf;
    --bg3: #c9cccf;
    --bg4: #b9bcbf;
    --bg5: #a9acaf;

    --ftBase: #222;
    --ftBlue: #11aadd;

    --shadow: #00000022;
}

/* NORMALIZE */
* {
    /* font */
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: var(--ftBase);
    -webkit-font-smoothing: antialiased;

    /* sizing */
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* mouse */
    -webkit-scroll-behavior: smooth;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    user-select: none;
    -webkit-user-select: none; /* For older versions of Safari */
    -moz-user-select: none; /* For older versions of Firefox */
    -ms-user-select: none; /* For Internet Explorer */

    scrollbar-color: transparent transparent;
    transition: background-color 0.2s, border 0.2s;
}
::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    background-color: transparent;
    width: 0;
}

html, body {
    overflow-x: hidden;
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bg0);
    overflow: hidden;
}
a, li {
    all: unset;
}

/* HEADER */
header {
    z-index: 4;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 68px;
    padding: 0px 40px 0px 32px;
    background-color: var(--bg0);
    border-bottom: 1px solid var(--bg2);
}

#header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#header-left h1 {
    font-family: Cakecafe, sans-serif;
    color: var(--ftBlue);
}

#logo {
    height: 46px;
    margin-right: -5px;
}

#header-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
}

#room-button, #region-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    height: 42px;
    padding: 0px 16px;
    background-color: var(--bg2);
    border: 1px solid var(--bg3);
    border-radius: 13px;
    cursor: pointer;
}

#room-button:hover, #region-button:hover, #create-room:hover, #join-room:hover, #report-button:hover, #pair-button:hover, #skip-button:hover {
    background-color: var(--bg1);
    transition: background-color 0.15s, border 0s;
}

#room-button:active, #region-button:active, #room-button.active, #region-button.active, #create-room:active, #join-room:active, #report-button:active, #pair-button:active, #skip-button:active {
    background-color: var(--bg1);
    border: 1px solid var(--bg5);
}

#room-icon {
    width: 1.6rem;
    fill: var(--primary);
}

#region-button svg {
    width: 1.2rem;
    fill: var(--primary);
    background-color: greenyellow;
    box-sizing: content-box;
    border-radius: 20px;
}

#room-dropdown {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -120px;
    right: 160px;
    width: 240px;
    background-color: var(--bg0);
    border: 1px solid var(--bg2);
    border-top: none;
    border-radius: 0px 0px 14px 14px;
    box-shadow: 0px 2px 8px 0px var(--shadow);
    transition: top 0.2s ease-in, background-color 0.2s, border 0.2s, box-shadow 0.2s;
}
#room-dropdown.active, #region-dropdown.active {
    z-index: 3;
    top: 67px;
}
#room-id-input {
    font-size: 1rem;
    font-weight: 200;
    resize: none;
    width: calc(100% - 24px);
    padding: 10px;
    margin: 10px;
    background-color: var(--bg2);
    box-sizing: border-box;
    border: none;
    border-radius: 6px;
    overflow-x: hidden;
}
#room-id-input:focus {
    outline: var(--bg3) solid 1px;
}
#create-join-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
    width: 100%;
    padding: 0px 12px 12px 12px;
}
#create-room, #join-room {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 36px;
    background-color: var(--bg2);
    border-radius: 6px;
    border: 1px solid var(--bg3);
    cursor: pointer;
}

#region-dropdown {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -360px;
    right: 20px;
    width: 240px;
    background-color: var(--bg0);
    border: 1px solid var(--bg2);
    border-top: none;
    border-radius: 0px 0px 14px 14px;
    box-shadow: 0px 2px 8px 0px var(--shadow);
    transition: top 0.2s ease-in, background-color 0.2s, border 0.2s, box-shadow 0.2s;
}
.region-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    border-bottom: 1px solid var(--bg1);
}
.region-option:first-of-type {
    background-color: var(--bg1);
    border-bottom: 1px solid var(--bg2);
}
.region-option:last-of-type {
    border-bottom: none;
}
.region-option input {
    transform: scale(1.2);
}

#theme-switch {
    height: 38px;
    fill: var(--ftBase);
    padding: 8px;
    margin: -10px;
    cursor: pointer;
    flex-shrink: 0;
}

/* MAIN */
main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    min-height: 360px;
    width: 100%;
    padding: 20px;
    margin-top: 68px;
}

#main-left {
    display: flex; /* TEMPORARILY DISABLE CAMERA */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    min-width: 320px;
    max-width: 460px;
}

.video-cropper {
    z-index: -1;
    position: relative;
    width: 100%;
    height: calc(50% - 5px);
    border-radius: 16px;
}

video {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-cropper p {
    z-index: -1;
    position: absolute;
    top: calc(50%);
    left: calc(50% - 80px);
    font-family: Cakecafe, sans-serif;
    color: var(--ftBlue);
    font-size: 32px;
    opacity: 0.5;
}

.video-cropper img {
    z-index: -1;
    position: absolute;
    width: 60px;
    top: calc(50% - 60px);
    left: calc(50% - 30px);
    opacity: 0.5;
}

#main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    max-width: 540px;
    min-width: 320px;
}

#messaging-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--bg1);
    width: 100%;
    height: calc(100% - 60px);
    border-radius: 20px;
    border: 1px solid var(--bg2);
    overflow: hidden;
}

#status-bar {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 14px;
    top: 0;
    width: 100%;
    height: 24px;
    border-radius: 19px 19px 0px 0px;
    background-color: var(--bg2);
}

#status-bar p {
    font-size: 12px;
    color: var(--bg5);
}

#connection-status-span {
    text-shadow: 0px 0px 3px var(--bg3);
}

#message-input-container {
    position: relative; /* Add relative positioning */
    display: flex;
    flex-direction: column; /* Ensure flex items stack vertically */
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

#message-input {
    font-size: 1.2rem;
    font-weight: 200;
    resize: none;
    width: 100%;
    max-height: 200px;
    padding: 14px 68px 14px 16px; /* Adjust padding to accommodate send button */
    margin-top: 10px;
    background-color: var(--bg2);
    box-sizing: border-box;
    border: none;
    border-radius: 12px;
    overflow-x: hidden;
    transition: height 0.2s, background-color 0.2s; /* Add transition for smooth height change */
}

#message-input:focus {
    outline: var(--bg3) solid 1px;
}

#send-button {
    position: absolute; /* Position the send button absolutely */
    right: 2px; /* Adjust the distance from the right side */
    bottom: -1px;
    height: 52px;
    padding: 10px;
    fill: var(--primary);
    cursor: pointer;
    transition: right 0.1s, bottom 0.1s;
}

#send-button:active {
    right: -2px;
    bottom: 3px;
}

#message-feed-container {
    width: calc(100% + 25px); /* add the scroll bar width to normalize the size */
    margin-top: 23px;
    overflow-y: scroll;
}

.outgoing-message {
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    width: fit-content;
    max-width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 12px 20px 12px auto;
    padding: 10px 15px;
    background-color: var(--outgoingMessage); /* Blue background color */
    color: #fff; /* Text color */
    border-radius: 20px 20px 0px 20px;
}

.incoming-message {
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    width: fit-content;
    max-width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 12px auto 12px 34px;
    padding: 10px 15px;
    background-color: var(--bg3); /* Blue background color */
    color: var(--ftBase); /* Text color */
    border-radius: 0px 20px 20px 20px;
}
/* Browser Fixes */
.safari #message-feed-container {
    width: calc(100% - 10px); /* add the scroll bar width to normalize the size */
    overflow-y: scroll;
}
.safari .incoming-message {
    margin-left: 18px;
}
.firefox main {
    padding-left: 0;
    gap: 0;
}

#connection-controls {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 50px;
}

#report-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    width: 20%;
    background-color: var(--bg2);
    border: 1px solid var(--bg3);
    border-radius: 16px;
    cursor: pointer;
}
#report-button svg {
    width: 1.5rem; /* Adjusts the size of the SVG */
    height: auto; /* Maintains aspect ratio */
    fill: var(--warningOrange); /* Changes the color of the SVG shapes */
}
#pair-button, #skip-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    width: 40%;
    background-color: var(--bg2);
    border: 1px solid var(--bg3);
    border-radius: 16px;
    cursor: pointer;
}
#pair-button svg {
    position: absolute;
    left: 18px;
    width: 1rem;
    height: auto;
    fill: var(--primary);
}
#pair-button svg.hidden {
    opacity: 0;
}
#skip-button svg {
    position: absolute;
    left: 20px;
    width: 1.2rem;
    height: auto;
    fill: var(--primary);
}

@media (max-width: 680px) {
    body {
        overflow: hidden;
    }
    header {
        padding: 0px;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        border: 0;
        overflow: hidden;
        background-color: #00000033;
    }
    #header-left {
        display: none;
    }
    #header-right {
        width: 100%;
        gap: 10px;
    }
    #theme-switch {
        display: none;
    }
    #room-button, #region-button, #room-button:hover, #region-button:hover, #room-button:active, #region-button:active, #room-button.active, #region-button.active {
        position: relative;
        height: 48px;
        width: calc(50% - 15px);
        background-color: #00000033;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 0;
        box-shadow: 0px 2px 8px 0px var(--shadow);
    }
    #room-icon, #region-button svg, #pair-button svg, #skip-button svg {
        position: absolute;
        left: 12px;
    }
    main {
        padding: 0px;
        margin-top: 68px;
        overflow: hidden;
    }
    #main-left {
        z-index: -1;
        position: absolute;
        bottom: 0px;
        justify-content: flex-start;
        gap: 0;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
    }
    .video-cropper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50%; /* Adjust based on your design */
        width: 100vw;
        border-radius: 0;
        overflow: hidden; /* Ensures video is clipped if it overflows */
    }
    video {
        width: 100%;  /* Stretch to cover the width of the container */
        height: 100%; /* Stretch to cover the height of the container */
        border-radius: 0;
        object-fit: cover; /* This will ignore the aspect ratio and fill the container */
    }
    #main-right {
        z-index: 0;
        position: absolute;
        bottom: 0;
        max-width: 800px;
        height: calc(100% - 68px);
        gap: 0;
        overflow: hidden;
    }
    #messaging-container {
        background-color: #00000033;
        width: 100%;
        max-width: 800px;
        height: calc(100% - 60px);
        border-radius: 0px;
        border: 0;
        overflow: hidden;
    }
    #status-bar {
        border-radius: 0;
        background-color: transparent;
    }
    #status-bar p {
        color: #fff;
    }
    #message-feed-container {
        max-height: 50%;
        width: calc(100% - 24px);
        padding-top: 120px;
        mask: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0)); /* Semi-transparent gradient */
    }
    .outgoing-message {
        box-shadow: 0px 3px 10px 0px #00000033;
        font-size: 1rem;
        padding: 6px 12px;
        border-radius: 14px 14px 0px 14px;
        margin: 12px 12px 12px auto;
    }
    .incoming-message {
        box-shadow: 0px 3px 10px 0px #00000033;
        font-size: 1rem;
        padding: 6px 12px;
        border-radius: 14px 14px 14px 0px;
        margin: 12px auto 12px 12px;
    }
    .safari #message-feed-container {
        width: 100%; /* add the scroll bar width to normalize the size */
        overflow-y: scroll;
    }
    .safari .incoming-message {
        margin-left: 12px;
    }
    #message-input-container {
        width: 100%;
        margin: 0;
    }
    #message-input {
        border-radius: 0;
        margin: 0;
        height: 50px;
        background-color: transparent;
    }
    #message-input:focus {
        outline: none;
        background-color: #00000033;
        backdrop-filter: blur(10px);
    }
    #message-input::placeholder {
        color: #ddd;
    }
    #connection-controls {
        align-items: center;
        gap: 10px;
        min-height: 68px;
        padding: 0px 10px;
        background-color: #00000033;
    }
    #report-button, #pair-button, #skip-button, #report-button:hover, #pair-button:hover, #skip-button:hover, #report-button:active, #pair-button:active, #skip-button:active {
        height: 48px;
        border-radius: 13px;
        background-color: #00000033;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 0;
        box-shadow: 0px 2px 8px 0px var(--shadow);
    }

    #room-dropdown {
        display: none;
        top: calc(50% - 70px);
        left: calc(50% - 160px);
        height: 140px;
        width: 320px;
        padding: 12px;
        background-color: #00000033;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 0;
        border-radius: 18px;
    }
    #room-dropdown.active {
        display: flex;
        top: calc(50% - 70px);
        left: calc(50% - 160px);
    }
    #room-id-input {
        font-size: 1.5rem;
        font-weight: 200;
        resize: none;
        width: 100%;
        padding: 22px 16px;
        margin: 0 0 12px;
        background-color: #00000033;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 0;
        border-radius: 10px;
        overflow-x: hidden;
    }
    #room-id-input:focus {
        outline: 2px solid #0080ff;
    }
    #create-join-container {
        gap: 12px;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    #create-room, #join-room, #create-room:hover, #join-room:hover, #create-room:active, #join-room:active {
        width: 50%;
        height: 100%;
        background-color: #00000033;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 0;
        border-radius: 10px;
    }
    
    #region-dropdown {
        display: none;
        top: calc(50% - 190px);
        left: calc(50% - 140px);
        width: 280px;
        height: 380px;
        padding: 12px;
        background-color: #00000033;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 0;
        border-radius: 18px;
        box-shadow: 0px 2px 8px 0px var(--shadow);
    }

    #region-dropdown.active {
        display: flex;
        top: calc(50% - 190px);
        left: calc(50% - 140px);
    }
    .region-option {
        border-bottom: 1px solid #00000066;
    }
    .region-option:first-of-type {
        background-color: #00000033;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-bottom: 0;
        border-radius: 10px;
    }
    .region-option:last-of-type {
        border-bottom: 0;
    }
    .region-option input {
        transform: scale(1.8);
    }
}